/* placeholder es lo que se lee en los inputs, le damos color y grosor al font, se usa una de manera genral y las demas son para cada navegador, así abarcamos los navegadores antiguos */
::placeholder {color: #4e05a9!important; opacity: 1; font-weight: 700;}
:-ms-input-placeholder {color: #4e05a9!important; font-weight: 700;}
::-ms-input-placeholder {color: #4e05a9!important; font-weight: 700;}
::-webkit-input-placeholder {color: #4e05a9!important; font-weight: 700;}
:-moz-placeholder {color: #4e05a9!important; font-weight: 700;}
::-moz-placeholder {color: #4e05a9!important; opacity: 1; font-weight: 700;}
/* Creamos varias clases para asignar paddings */
.padding-10 {padding: 10px;}
.padding-20 {padding: 20px;}
.padding-30 {padding: 30px;}
.padding-40 {padding: 40px;}
.padding-50 {padding: 50px;}
/* Creamos varias clases para asignar paddings con diferentes tamaños */
.padding-50-10 {padding: 50px 10px;}
.padding-10-100 {padding: 10px 100px;}
/* Esto lo usaremos mas que todo en imagenes, hacemos que el ancho se ajuste al contenido */
.anchojusto {width: max-content;}
.float-right {float: right;}
.float-left {float: left;}
.max-width {max-width: 100%;}
/* Colores que usaermos a lo largo de la web */
.morado {color:#4e05a9;}
.blanco {color:#fff;}
/* tal = text align left */
.tal {text-align: left;}
/* Creamos nuevos margenes y paddings como los que usa Bootstrap */
.mt-8 {margin-top: 8em;}
.pt-8 {padding-top: 8em;}
.mt-9 {margin-top: 9em;}
.pt-9 {padding-top: 9em;}
.mt-10 {margin-top: 10em;}
.pt-10 {padding-top: 10em;}
.mt-11 {margin-top: 11em;}
.pt-11 {padding-top: 11em;}
.mt-12 {margin-top: 12em;}
.pt-12 {padding-top: 12em;}
/* Creamos varios tamañosd e fuente con su interliniado */
.fz-70 {font-size: 70px!important; line-height: 80px!important;}
.fz-60 {font-size: 60px!important; line-height: 70px!important;}
.fz-50 {font-size: 50px!important; line-height: 60px!important;}
.fz-40 {font-size: 40px!important; line-height: 50px!important;}
.fz-30 {font-size: 30px!important; line-height: 40px!important;}
.fz-20 {font-size: 20px!important; line-height: 30px!important;}
/* Para crear bordes */
.borderl {border-left: 1px solid #d4d4d4;}
.borderr {border-right: 1px solid #d4d4d4;}
/* Botoneras y efectos de hover */
.btn-morado {
	background:#4e05a9; 
	color:#fff; 
	border:1px solid #4e05a9;
	transition: all 1s; 
}
.btn-morado:hover {
	background:#fff; 
	color:#4e05a9; 
	border:1px solid #4e05a9;
	transition: all 1s; 
}
.btn-morado-inverted:hover {
	background:#4e05a9; 
	color:#fff; 
	border:1px solid #4e05a9;
	transition: all 1s; 
}
.btn-morado-inverted {
	background:#fff; 
	color:#4e05a9; 
	border:1px solid #4e05a9;
	transition: all 1s; 
}
.btn-blanco {
	background:rgba(255,255,255,0.5); 
	color:#fff; 
	border:1px solid #fff;
	transition: all 1s;
	width: max-content;
	padding: 5px;
	border-radius: 10px;
}
.btn-transparente {
	background-color: transparent;
	border:1px solid #00cfe3;
	color:#00cfe3;
	width: auto;
	font-size: 18px;
	margin-top: 10px;
	transition: all 0.6s; 
}
.btn-transparente:hover {
	background-color: rgba(185,241,247,.2);
	border:1px solid #00cfe3;
	color:#00cfe3;
	width: auto;
	font-size: 18px;
	transition: all 0.6s;
}
/* Colores de fondo que estaremos usando */
.bg-morado {
	background-color: #eee1ff;
}
.bg-gris {
	background-color: #edf0f2;
}
.bg-blanco {
	background-color: #fff;
}
/* grosor para los titulos */
.titulo {font-weight: 800;}
/* para parrafos especiales */
.enfasis {padding: 5% 18%; font-weight: 600;}
/* Para el menu */
.menustiky {background-color: #fff;}
#menuheader a {
	text-decoration: none;
	transition: all 0.6s; 
}
#menuheader a.active {
	font-weight: 600;
}
#menuheader a:hover {
	transition: all 0.6s; 
	opacity: 0.7;
}
/* ENcabezados especiales */
.jumbotron.homeheader {
	text-align: center;
	margin:60px auto;
}
.jumbotron.homeheader h1 {
	font-size: 80px;
	font-weight: 700;
	line-height: 90px;
}
.jumbotron.homeheader p {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	width: 60%;
	margin: 30px auto;
}
.subtitulo {
	font-size: 35px;
	font-weight: 900;
}
/* Para las lineas que se usan en las citas */
.complemento {
	position: relative;
	top: 10px;
	z-index: 5;
	width: 70%;
	margin-left: 15px;
}
/* para las secciones donde se muestra los cursos que se ofrecen */
.categoria {
	margin:0 auto;
}
.profile {
	position: relative;
	top:30px;
}
.img-profile {
	position: relative;
	top:-20px;
}
.name-profile {
	position: relative;
	top:-55px;
	text-align: left;
	left:10px;
}
/* para las secciones donde se muestra una imagen de tmaño completo a un lado y un texto sobre la imagen */
.banner-especial-l {
	padding: 10px 30px;
}
.banner-especial-l .superpuesto {
	position: relative;
	top:180px;
	font-size: 60px;
	z-index: 10;
	margin-bottom: -150px;
	width: 80%;
	font-weight: 600;
	color:#fff;
	left: 50px;
}
.banner-especial-l img {
	position: relative;
	top: -10px;
}
.banner-especial-r {
	padding: 120px 50px 50px 300px;
	background-color: #5ce0ed;
	width: 65%;
	margin-left: -150px;
}
.banner-especial-r p {
	font-size: 18px;
	line-height: 28px;
	width: 80%;
}
/* para las secciones donde se muestran las marcas */
.brands {
	border: 1px solid #eee;
	padding: 20px;
	margin: 1px;
	max-width: 100%;
	border-radius: 10px;
}
/* para las seccion donde se ve como distorcionado antes del footer en home */
.prefooter{
	background-color: #eee1ff;
	padding: 100px;
	clip-path: polygon(0 10%,100% 0,100% 100%,0 100%);
	padding: 0 0 0 10%;
	margin: 0;
}
.prefooter-recto{
	background-color: #eee1ff;
}
/* imagenes con alto y ancho del 100% */
.fullwh {
	width: 100%;
	height: 100%;
}
.bg-prefooter{
	background: url("../imgs/home-contrata-graduados.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 10%;
}
.prefooter h1 {
	font-size: 60px;
	font-weight: 700;
	margin-top: 200px;
	padding-right: 10%;
}
.prefooter p {
	font-size: 18px;
	font-weight: 400;
	padding-right: 10%;
}
/* Pie de pagina de todas las paginas */
footer {
	background-color: #24034d;
	color:#fff;
	padding: 30px 0;
}
footer .list-inline li {
	float: left;
	padding: 5px;
	margin:0 10px;
	border-right: 1px dotted #eee;
}
footer .list-inline li:last-child {
	border-right: none;
}
footer .list-inline li a {
	color:#fff;
	text-decoration: none;
	transition: all 0.6s;
}
footer .list-inline li a.active {
	font-weight: 700;
}
footer .list-inline li a:hover {
	color:#c0c0c0;
	text-decoration: none;
	transition: all 0.6s;
}
/* Efecto de coloreado de las imagenes de las marcas, se usa uno general y los demás para cada navegador y sus versiones antiguas */
.grises img {
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* Efecto de coloreado de las imagenes de las marcas en hover que recobren color, se usa uno general y los demás para cada navegador y sus versiones antiguas */
.grises img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* Para la sección de "Nuestros Pilares en la educación", para que las tarjetas hagan efecto */
.cardhover {
	padding: 5% 8%;
	margin-top: 15px;
	font-weight: 600;
	font-size: 18px;
}
.cardhover p:hover {
	color:#4e05a9;
}
.cardhover span {
	font-size: 35px;
}
.miscards {
	margin: 30px auto;
}
.miscards .card {
	width: 90%;
	height: 100%;
	transition: all 1s;
}
.miscards .card span {
	font-size: 65px;
	text-align: center;
	display: block;
	transition: all 0.8s;
}

.miscards .card .card-title {
	color:#4e05a9;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	transition: all 0.8s;
}
.miscards .card .card-text {
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	line-height: 25px;
	margin: 20px auto;
	padding: 0 22px;
	transition: all 0.8s;
}
.miscards .card:hover {
	background-color: #24034d;
	transition: all 1s;
	color:#fff;
}
.miscards .card:hover .card-title {
	transition: all 0.8s;
	color:#fff;
}
.miscards .card:hover span {
	transition: all 0.8s;
	color:#fff;
}
/* variaciones de lo que gicimos antes */
.banner-especial-l2 {
	padding: 10px 30px;
}
.banner-especial-l2 .superpuesto {
	position: relative;
	top:-280px;
	font-size: 40px;
	z-index: 10;
	margin-bottom: -250px;
	width: 80%;
	font-weight: 800;
	color:#fff;
	left: 50px;
}
/* preparamos el carrousel de Acerca */
.carrousel .item img {
	width: 95%;
}
.navcarrousel {
	position: relative;
	width: 50px;
	height: 97px;
	left: 0;
	margin: 30px auto;
	top: -10px;
}
.navcarrousel .slick-prev::before, .navcarrousel .slick-next::before {
	font-family: FontAwesome;
    font-size: 55px;
    color: #fff;
    padding: 10px;
    margin: 20px;
    background-color: #24034d;
}
.slider .item > div {
	float: left;
}
.slider .slick-dots li.slick-active button::before {
    color: #24034d!important;
}
.slick-dots li button::before {
    font-size: 20px!important;
}
.hireitem {
	margin: 30px auto;
}
.hireitem .enfasis {
	padding: 0% 2%;
	font-weight: 600;
	margin: 2px 59px 22px -9px;
}
.hireitem .morado {
	font-weight: 800;
	font-size: 20px;
}
.celeste {
	background-color: #b9f1f7;
}
.celeste .titulo {
	color:#008491!important;
}
.card-celeste, .card-blanca {
	height: 100%;
	width: 100%;
	text-align: left!important;
	padding: 10px;
}
.card-celeste .card, .card-blanca .card {
	background-color: transparent;
	border: none;
}
.card-celeste i.fa, .card-blanca i.fa {
	font-size: 28px!important;
	margin: 10px 0;
}
.card-celeste .card-title, .card-blanca .card-title {
	font-size: 28px!important;
	margin: 15px 0;
	font-weight: 800;
}
.card-celeste .card-text, .card-blanca .card-text {
	font-size: 16px!important;
	margin: 5px 0;
	font-weight: 600;
}
.card-celeste {
	background-color: #ebf8ff;
	color:#008491;
}
.card-blanca {
	background-color: #fff;
	color:#000;
}
/* Colores para las tarjetas de aplicar a becas */
.aplicarbecas .card {
	border-radius: 15px!important;
}
.aplicarbecas .producto .btn-blanco {
	text-align: left;
    padding: 0px 6px;
}
.aplicarbecas .producto .categoria {
	margin: 0;
}
.aplicarbecas .producto h2 {
	text-align: left!important;
}
/* Estilizamos el modal para que se parezca al orginal */
.modal-content .modal-header h3, .modal-content .modal-header p {
	display: block;
	width: 100%;
	float: none;
}
.closemodal {
	position: relative;
	display: block;
	top: 10px;
	left: -97%;
}
#solicitarbeca .modal-fullscreen .modal-body {
    margin: 0 !important;
    padding: 0!important;
}
/* Para la pagina de donaciones se usa un ancho más angosto de lo normal */
.width60 {
	width: 60%;
	margin: 0 auto!important;
	padding: 5% 0;
}
.donaciones {
	border: 1px solid #4e05a9;
	border-radius: 5px;
}
#myTab .nav-link {
    border: 1px solid #4e05a9;
    height: 50px;
    font-weight: 800;
}
#myTab .nav-link.active, #myTab .show > .nav-link {
    color: #fff;
    background-color: #4e05a9;
}
#myTab .nav-item {
    margin: 2px;
}
#myTab .nav-item input {
    border: 1px solid #4e05a9;
    height: 50px;
    color: #4e05a9;
    font-weight: 500;
}
.tab-pane {
	background-color: #b9f1f7;
	color: #008491;
	padding: 30px;
	margin: 20px;
	border-radius: 15px;
}
.input-morado {
    border: 1px solid #4e05a9!important;
    height: 50px;
    color: #4e05a9;
    font-weight: 500;
    background-color: transparent;
}
.input-sinborde {
	border: 0px!important;
}
.input-sinborde:focus {
	outline: none!important;
	border-bottom: 1px solid #4e05a9!important;
	box-shadow: 0 0 0 0!important;
	height: 49px;
}